:root {
  color-scheme: light;
  --background: #fff;
  --text-color: #161718;

  --accent: #f4576d;

  --input-background: #fbfbfb;
  --input-background-hover: rgba(238, 238, 238, 0.75);
}

[data-dark="true"] {
  color-scheme: dark;
  --background: #121212;
  --text-color: #f7f7f7;

  --input-background: rgb(32, 32, 32);
  --input-background-hover: rgb(48, 48, 48);
}
