:root {
  color-scheme: light;
  --background: rgb(252 252 253);
  --background-power: #fff;
  --background-power-conversely: #000;

  --text-color: #161718;
  --text-color-conversely: #f7f7f7;

  --accent: #f4576d;

  --input-background: #fff;
  --input-background-hover: rgba(238, 238, 238, 0.6);

  --backdrop: rgba(24, 24, 27, 0.52);
}

[data-dark="true"] {
  color-scheme: dark;
  --background: #121212;
  --background-power: #000;
  --background-power-conversely: #fff;

  --text-color: #f7f7f7;
  --text-color-conversely: #161718;

  --input-background: rgb(32, 32, 32);
  --input-background-hover: rgb(48, 48, 48);

  --backdrop: rgb(144 144 153 / 35%);
}

.dp__theme_light,
.dp__theme_dark {
  --dp-primary-color: #f4576d !important;
  --dp-hover-color: rgba(238, 238, 238, 0.6);

  --dp-font-family: "Montserrat", sans-serif;
  --dp-border-radius: 0;
  --dp-cell-border-radius: 0;
  --dp-preview-font-size: 0.7rem;
}
