@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: calc(($f-max - $f-min) / ($v-max - $v-min));
  $b: calc($f-min - $k * $v-min);
  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max) {
  $units: px;
  font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max);
  @media (min-width: (($w-max + 1) + $units)) {
    font-size: $f-max + $units;
  }
  @media (max-width: ($w-min + $units)) {
    font-size: $f-min + $units;
  }
}

@mixin image-aspect() {
  img:not([data-ll-status="loaded"]) {
    width: 100%;
    @content;
  }
}
